$side_group_message: 11px;
$side_blue_dark: #090c10;
$side_blue_light: #253141;
$white: #fff;
$light-blue: #38AEF0;
$group-black: #333;
$light_gray: #eee;
$black: #434A54;
$sma-font-gray: #999;
$footer-gray-light: #B8C3C7;
$alert-orange: #F35500;

$side_header_font: 16px;
$side_group_name: 15px;
$side_gruop_message: 11px;
